{% extends 'base.html' %}
{% block content %}
<div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <video class="img-fluid" autoplay loop muted>
        <source src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption d-none d-md-block">
    <form method="POST">
        {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
        <div class="g-recaptcha" data-sitekey="6LfdyZ8hAAAAAIdviRqNApxPRHkUD-CwfPV3e9u0"></div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <button type="submit" class="btn btn-info">Login</button>
    <span style="color: red;">{{ form.non_field_errors }}</span>
    <a href="{% url 'reset_password' %}" class="btn btn-success">Forgot password</a>
    </form>
{% endblock %}
</div>
    </div>
</div>