{% extends 'base.html' %}
{% block content %}
<section class="text-center text-lg-start">
    <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }

    </style>
    <div>
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
        <div class="container py-4">
            <div class="row g-0 align-items-center">

                <div class="col-lg-6 mb-5 mb-lg-0">

                    <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Welcome!</h2>
                            <form method="POST">
        {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <div class="form-outline">

                                        <input type="text" name="username" id="form3Example1" class="form-control"/>
                                        <label class="form-label" for="form3Example1">Username</label>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="form3Example2" class="form-control"/>
                                    <label class="form-label" for="form3Example2">Password</label>
                                </div>
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <script>
                                        window.onload = function() {
                                            var $recaptcha = document.querySelector('#g-recaptcha-response');

                                            if($recaptcha) {
                                                $recaptcha.setAttribute("required", "required");
                                            }
                                          const $form = document.querySelector('form');
                                          $form.addEventListener('submit', (event) => {
                                            console.log('prevented submit by code for demo');
                                          });
                                        };
                                </script>
                                <div class="g-recaptcha" data-sitekey="6Ldp3VciAAAAAHpgmm43io5wmH1LaJdmhF5oSlWV"></div>
                                <button type="submit" class="btn btn-primary btn-block mb-4">Log In</button>
                            </form>
<a class = "resetare" href="{% url 'reset_password' %}" ><button type="submit" id="diana" class="btn btn-success btn-block mb-4">Forgot Password</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
                         class="w-100 rounded-4 shadow-4"
                         alt=""/>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</section>
