<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
h3 {
  text-align: center;
}
</style>
<h3>Password reset</h3>
<p style="text-align:center">Forgotten your password?</p>
<p style="text-align:center">Enter your email address bellow, and we'll email instructions for setting a new one</p>
<form align="center" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="Submit" name="Send email">
    <br>
    <br>
    <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://thehackernews.com/images/-B3mNhF5NHew/YJkiZd_XHsI/AAAAAAAABAc/tanw21tUN8Ykp4QNgTsn4aEpjtLf1eOnQCLcBGAsYHQ/s0/password.jpg"
          alt="" width="280" height="150"/>
      </div>
</form>